body
{
	font-family:verdana;
}

a
{
	text-decoration:none;
}

ul
{
	list-style-type: none;
}

.header
{
border-bottom:15px solid black;
}

.book_name
{
	font-size:3em;
}

.author
{
	float:right;
	font-style:italic;
	margin-left: 20px;
}

.nav
{
float:right;
width:20%;
padding-left:10px;
}

.content
{
float:left;
width:75%;
padding:0 10px 0 0;
border-right:3px solid black;
}

.content h3
{
font-size:2.5em;
padding-bottom:50px;
border-bottom:1px solid black;
}